@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@
    <h3>Casio</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Casio is the study administration system at COAMK University of Applied Sciences, containing basic information of students and personnel.</p>
    </div>

    <img src="/Image/ERdiagram.png" />
</div>