@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Casio</h1>
    <p class="lead">Casio is the study administration system at COAMK University of Applied Sciences, containing basic information of students and personnel.</p>
    <p><a href="/Account/Login" class="btn btn-primary btn-large">Please Login &raquo;</a></p>
</div>

<div class="row">

</div>